@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
html {
    scroll-behavior: smooth;
}
body {
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui;
    }

    ::-webkit-scrollbar{
        width: 10px;
        background-color: #f5f5f500;
    }
    ::-webkit-scrollbar-track{
        background-color: #f5f5f500;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #F90; 
    } 
    .wrap {
        flex-basis: 50%;
        max-height: 100vh;
        overflow-y: scroll;
        border: 1px solid gray;
        scroll-snap-type: y mandatory;
    }

    .contenedor {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-image: url(Resources/camaleon.jpg);
        height: 100vh;
        width: 100%;
        text-align: center;
        background-repeat:no-repeat;
        background-size:cover;
        background-position: top;
        align-items: center;
        padding: 0 80px;
        scroll-behavior: smooth;
        position: relative;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        align-items: start;
        justify-items: center;
        background: #0d192e;
        padding: 20px 40px;
        color: white;
        height: fit-content;
    }

    footer section:first-child {
        grid-row-start: span 1;
        grid-column-start: span 3;
    }

    footer a {
        color: white;
    }
    footer a:hover {
        color: aquamarine;
    }
    .titulo {
        max-width: 700px;
        width: 60%;
    }
    form {
        width: 30%;
        min-width: 300px;
        max-width: 450px;
        background-color: #ffffff62;
        padding: 40px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.479) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        box-sizing: border-box;
    }

    .down {
        position: absolute;
        bottom: 0;
        transform: rotate(270deg);
        opacity: .4;
        overflow: hidden;
        width: 60px;
        transition: ease-out .5s;
    }
    .down:hover {
        translate: 0 10px;
        opacity: 1;
    }

    .grupo-form {
        position: relative;
        width: 100%;
        margin-bottom: 16px;
    }

    h1 {
        text-align: left;
        font-family: "Rubik", sans-serif;
        font-weight: 900;
        color: white;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    fieldset {
        border: transparent;
        padding: 0;
    }

    label {
        display: block;
        margin-bottom: 8px;
        color: #555;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        font-family: system-ui;
        transition: 0.2s ease-out;
    }

    input {
        width: 100%;
        padding: 17px 9px 3px 9px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 12px;
        outline: none;
        transition: border-color 0.2s ease-out;
        box-sizing: border-box;
        background: none;
    }

    input:focus+label, input:valid+label {
        top: 10px;
        font-size: 11px;
        color: #555;
    }

    input:focus {
        border-color: #3498db;
        border-bottom: 2px solid #2386c7;
    }

    .grupo-form-checkbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        font-size: 14px;
        font-family: system-ui;
    }

    .formulario .grupo-form-checkbox p {
        margin-top: 15px;
        text-align: left;
        padding-left: 10px;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    input[type="submit"] {
        background-color: #3498db;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    input[type="submit"] :hover {
        background-color: #297fb8;
    }

    .formulario a {
        color: #007bff;
        text-decoration: none;
    }

    .formulario a:hover {
        text-decoration: underline;
    }

    .formulario p {
        margin-top: 15px;
        text-align: center;
    }

    .imagen-contenedor {
        width: 90%;
        flex-grow: 1;
    }

    .quienes-somos {
        position: absolute;
        width: 50%;
        height: auto;
        padding: 20px;
        font-size: 14px;
        font-family: system-ui;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 2px 1px 2px #9ccaeb;
    }

    .quienes-somos h2 {
        margin-bottom: 40px;
    }

    .quienes-somos ul {
        margin: 20px;
        margin-bottom: 35px;
    }

    .quienes-somos ul li {
        font-size: 14px;
        font-family: system-ui;
        line-height: 1.9;
    }

    .instrcciones-contrasena {
        position: absolute;
        top: 100%;
        left: 0;
        width: 91%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-out;
        font-size: 14px;
        font-family: system-ui;
    }

    .instrcciones-contrasena ul {
        margin: 5px;
        padding: 3px 1px 0px 10px;
    }

    .instrcciones-contrasena h4 {
        margin: 0;
        padding: 0;
        font-weight: 500;
    }

    .instrcciones-contrasena ul li {
        list-style-type: none;
        padding: 4px;
        font-weight: 450;
    }

    .informacion {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 40px auto 20px auto;
        max-width: 1000px;
        flex-direction: row;
    }
    .informacion > img {
        height: 280px;
        aspect-ratio: 4/3;
        object-fit: cover;
        border-radius: 5px;
    }

    .informacion > div {
        max-width: 500px;
    }
    .informacion > div h2{
        text-align: center;
    }

    .informacion > div p{
        text-wrap: pretty;
    }
    .linea {
        border-top: 1px solid rgb(59, 59, 59);
        height: 2px;
        width: 80%;
        max-width: 800px;
        padding: 0;
        margin: 0 auto;
    }
    .informacion {
        animation: reveal ease-out both;
        animation-timeline: view();
        animation-range: entry 15% cover 20%;
    }
    .linea {
        animation: reveal ease-out both;
        animation-timeline: view();
        animation-range: entry 15% cover 30%;
    }
    @keyframes reveal {
        from{
            opacity: 0;
            scale: .7;
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }

    .boton2 {
        border: 1px solid #3498db;
        color: #3498db;
        padding: 2px;
        border-radius: 5px;
        text-decoration: none;
        transition: ease-out .2s;
    }

    .boton2:hover {
        background-color: #3498db;
        color: #fff;
    }
    
    .mainflex,.mainflex > div {
        display: flex;
        align-items: center;
    }
    .mainflex {
        min-height: 99vh;
        justify-content: center;
    }


    .mainflex > div { 
        justify-content: space-between; 
        width: 80%;
        max-width: 1000px;
    }

    .mainflex img {
        width: 100%;
        max-width: 400px;
    }
    .titulologin {
        color: black;
        text-align: center;
        margin: 0;
        font-size: 2.5em;
    }

    section {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login {
    }

    .titulo {
        font-family: system-ui;
    text-shadow: 1px 4px 1px #000000;
    text-align: left;
    color: #fff;
    }

    .titulo h2 {
        margin-bottom: 40px;
        font-size: 30px;
    }

    .titulo ul {
        margin: 20px;
        margin-bottom: 35px;
    }

    .titulo ul li {
        font-size: 20px;
        font-family: system-ui;
        line-height: 1.9;
    }

    @media (max-width: 1200px) and (min-width: 681px){
        .titulologin {
            font-size: x-large;
        }
    }

    @media (max-width: 680px) {
        .mainflex > div {
            flex-direction: column;
        }
        .section-login img {
                display: none;
            }
        
    }

    
    @media (max-width: 1200px) and (min-width: 681px){
        .titulologin {
            font-size: x-large;
        }
    }

    @media (max-width: 680px) {
        section {
            width: 90%;
        }
        .informacion {
            flex-direction: column;
        }
        .titulo {
            display:none;
            /*width: 100%;
            font-size: smaller;*/
        }
        .contenedor {
            justify-content: space-evenly;
            flex-direction: column-reverse;
        }
        .titulo h2 {
            margin-bottom: 10px;
            font-size: 20px;
        }
    
        .titulo ul {
            margin: 10px;
            margin-bottom: 20px;
        }
    
        .titulo ul li {
            font-size: 12px;
            font-family: system-ui;
            line-height: normal;
        }
    }